<script setup lang="ts">
import { ref } from 'vue'
import { mdiGoogle, mdiEye, mdiEyeOutline } from '@mdi/js'
import { useDatabaseLogic } from '@/stores/databaseLogic'

const email = ref('')
const password = ref('')
const showPassword = ref(false)

const dbStore = useDatabaseLogic()
const { register, registerGoogle } = dbStore
</script>

<template>
  <v-container>
    <v-row class="ma-4" justify="center">
      <h1>{{ $t('Register') }}</h1>
    </v-row>

    <v-form>
      <v-row justify="center" class="ma-4">
        <v-col cols="12" md="8"> </v-col>

        <v-col cols="12" md="8">
          <v-text-field
            v-model="email"
            :label="$t('Email')"
            placeholder="xyz@gmail.com"
            type="email"
            variant="outlined"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="8">
          <v-text-field
            v-model="password"
            variant="outlined"
            :label="$t('Password')"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? mdiEyeOutline : mdiEye"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
        </v-col>

        <v-col align="center" cols="12" md="8">
          <v-btn
            color="primary"
            variant="flat"
            min-width="50%"
            max-width="90%"
            @click="register(email, password)"
          >
            {{ $t('Register') }}
          </v-btn>
        </v-col>

        <v-col align="center" cols="12" md="8">
          <v-btn
            color="primary"
            variant="tonal"
            min-width="50%"
            max-width="100%"
            :append-icon="mdiGoogle"
            @click="registerGoogle"
          >
            {{ $t('RegisterWith') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
