<script lang="ts" setup>
import { mdiContentCopy, mdiDelete } from '@mdi/js'

export interface Props {
  text?: string
  done?: boolean
}

withDefaults(defineProps<Props>(), {
  text: ""
})

const emit = defineEmits<{
  (e: "mark-as-done"): void
  (e: "remove-todo"): void
  (e: "edit-todo"): void
}>()
</script>

<template>
  <v-toolbar dense flat>
    <v-checkbox :model-value="done" :label="text.toLocaleUpperCase()" @change="emit('mark-as-done')"></v-checkbox>
    
    <v-spacer></v-spacer>
    
    <v-btn class="ma-2" :icon="mdiContentCopy" @click="emit('edit-todo')"></v-btn>
    
    <v-btn class="ma-2" :icon="mdiDelete" @click="emit('remove-todo')"></v-btn>
  </v-toolbar>
</template>