<script lang="ts" setup>
import TODOitem from './TODOitem.vue'
import { useTodoLogicStore } from '@/stores/todoLogic'
import { storeToRefs } from 'pinia'
import { computed } from 'vue'
import { mdiViewList, mdiPlus } from '@mdi/js'

const userStore = useTodoLogicStore()
const {
  markAsDone,
  addTodo,
  removeTodo,
  sortByID,
  sortAlphabetically,
  sortByDone,
  editTodo,
  zmienZadanie
} = userStore
const { newTodoText, hideCompleted, editTodoText, rules } = storeToRefs(userStore)
const filteredTodos = computed(() => userStore.filteredTodos)
</script>

<template>
  <v-container>
    <v-card>
      <v-row class="ma-4" justify="center">
        <h1>
          <v-icon size="large" :icon="mdiViewList" class="ma-1"></v-icon>
          {{ $t('Title').toLocaleUpperCase() }}
        </h1>
      </v-row>

      <v-form @submit.prevent>
        <v-text-field
          v-model="newTodoText"
          :label="$t('Todo_input_placeholder')"
          :rules="rules"
          :append-icon="mdiPlus"
          @click:append="addTodo"
          @keydown.enter="addTodo"
        ></v-text-field>
      </v-form>

      <v-list>
        <v-list-item v-for="todo in filteredTodos" :key="todo.id">
          <div v-if="todo.duringEdit">
            <v-form @submit.prevent>
              <v-text-field
                v-model="editTodoText"
                :label="$t('Enter_new_todo_placeholder')"
                :rules="rules"
              ></v-text-field>

              <v-btn class="ma-2" @click="zmienZadanie"> {{ $t('Enter_new_todo_button') }} </v-btn>
            </v-form>
          </div>

          <div v-else>
            <TODOitem
              :text="todo.text"
              :done="todo.done"
              @mark-as-done="markAsDone(todo)"
              @remove-todo="removeTodo(todo)"
              @edit-todo="editTodo(todo)"
            ></TODOitem>
          </div>
        </v-list-item>
      </v-list>

      <br />

      <v-btn class="ma-2" @click="hideCompleted = !hideCompleted">
        {{ hideCompleted ? $t('Show_done_todos') : $t('Hide_done_todos') }}
      </v-btn>

      <br />

      <v-btn class="ma-2" @click="sortByID">
        {{ $t('Sort_by_id') }}
      </v-btn>

      <br />

      <v-btn class="ma-2" @click="sortAlphabetically">
        {{ $t('Sort_alphabetically') }}
      </v-btn>

      <br />

      <v-btn class="ma-2" @click="sortByDone">
        {{ $t('Sort_by_done') }}
      </v-btn>
    </v-card>
  </v-container>
</template>
