<script lang="ts" setup>
import { RouterView } from 'vue-router'
import { ref, onMounted } from 'vue'
import { mdiLogout, mdiLogin, mdiAccountPlus } from '@mdi/js'
import { useDatabaseLogic } from './stores/databaseLogic'
import { useTodoLogicStore } from './stores/todoLogic'
import { signOut, onAuthStateChanged } from 'firebase/auth'
import router from './router'
import { auth } from './plugins/firebase_plugin'

const drawer = ref(false)
const isUserLogged = ref(false)

onMounted(() => {
  onAuthStateChanged(auth, (user) => {
    if (user) {
      isUserLogged.value = true
    }
  })
})

const handleSingOut = () => {
  signOut(auth).then(() => {
    useTodoLogicStore().$dispose()
    useDatabaseLogic().$dispose()
    router.push('/')
    isUserLogged.value = false
  })
}
</script>

<template>
  <header>
    <v-card>
      <v-layout>
        <v-app>
          <v-app-bar color="primary" prominent>
            <v-app-bar-nav-icon variant="tonal" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title> {{ $t('Toolbar_title') }} </v-toolbar-title>

            <v-spacer></v-spacer>
          </v-app-bar>

          <v-navigation-drawer v-model="drawer" location="left" temporary>
            <v-list>
              <v-list-item
                v-if="isUserLogged"
                class="ma-2"
                active
                color="primary"
                :title="$t('LogOut')"
                :append-icon="mdiLogout"
                @click="handleSingOut"
              ></v-list-item>

              <v-list-item
                v-if="!isUserLogged"
                class="ma-2"
                active
                color="primary"
                :title="$t('Login')"
                :append-icon="mdiLogin"
                to="/login"
              ></v-list-item>

              <v-list-item
                v-if="!isUserLogged"
                class="ma-2"
                active
                color="primary"
                :title="$t('Register')"
                :append-icon="mdiAccountPlus"
                to="/register"
              ></v-list-item>

              <v-col cols="12"> </v-col>

              <v-list-item
                class="ma-2"
                active
                color="primary"
                :title="$t('Home')"
                to="/"
              ></v-list-item>

              <v-list-item
                class="ma-2"
                active
                color="primary"
                :title="$t('About')"
                to="/about"
              ></v-list-item>

              <v-list-item
                v-if="isUserLogged"
                class="ma-2"
                active
                color="primary"
                :title="$t('Dashboard')"
                to="/dashboard"
              ></v-list-item>

              <v-list-item>
                <v-select
                  v-model="$i18n.locale"
                  :label="$t('Choose_language')"
                  :items="[
                    { title: 'Polski', value: 'pl' },
                    { title: 'English', value: 'en' }
                  ]"
                ></v-select>
              </v-list-item>
            </v-list>
          </v-navigation-drawer>

          <v-main>
            <RouterView />
          </v-main>
        </v-app>
      </v-layout>
    </v-card>
  </header>
</template>
